# Node.js
node_modules/
dist/

# Build artifacts
build_tmp/
.DS_Store
out/

# iPlug2 build folders
iPlug2OOS/ArcadiaVoices/build-*/
iPlug2OOS/ArcadiaVoices/resources/web/
iPlug2OOS/ArcadiaVoices/out/

# OS X
.DS_Store
